@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using MADBHR.Enum
@*@model MADBHR_Models.Employee.VMRequestEmployee*@
@model MADBHR_Data.Models.TbPunishment
@{
    var controller = "Punishment";
    ViewData["Title"] = "All " + controller;
}
<section class="content">

    <div class="box">
        <div class="box-header">

            <h4 class="text-blue text-bold">ပြစ်ဒဏ်အချက်အလက်များဖြည့်သွင်းရန်</h4>
        </div>
        <div class="box-body">
            <div class="row">
                <form action="@Configuration.GetSection("AppUrls").GetSection("TestUrl").Value/@controller/@ViewData["Action"]" method="post" enctype="multipart/form-data">

                    @if (ViewData["Action"].ToString() == ViewEnum.Action.Edit.ToDescription())
                    {
                        <input asp-for="EmployeeCode" hidden />

                    }
                    <input asp-for="PunishmentPkid" hidden />
                    @*}*@
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label class="form-label" for="field-1">ကိုယ်ပိုင်အမှတ်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-1" asp-for="SerialNumber" onchange="ChangeNumber()">
                                    <span asp-validation-for="SerialNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="form-label" for="field-name">အမည်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-name" value="@ViewBag.Name">
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="form-label" for="field-2">ရာထူး</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-rank" value="@ViewBag.Rank">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-2">အမိန့်စာနေ့စွဲ</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="date" class="form-control" id="field-2" asp-for="OrderDate">
                                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-3">အမိန့်စာအမှတ်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-3" asp-for="OrderNo">
                                    <span asp-validation-for="OrderNo" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-3">ကျူးလွန်ခဲ့သည့် ခုနှစ်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-3" asp-for="CrimeYear">
                                    <span asp-validation-for="CrimeYear" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-4">ပြစ်ဒဏ် အမျိုးအစား</label>
                                <select class="form-control" asp-for="PunishmentTypeCode" asp-items="ViewBag.PunishmentType">
                                    <option selected="selected" value="">ပြစ်ဒဏ်အမျိုးအစားရွေးပါ </option>
                                </select>
                                <span asp-validation-for="PunishmentTypeCode" class="text-danger"></span>

                            </div>


                        </div>
                        <div class="row">

                            <div class="col-md-12 form-group">
                                <label class="form-label" for="field-5">ဖြစ်စဉ်အကျဉ်း</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    @* <input type="text" class="form-control" id="field-5" asp-for="Description"> *@
                                    <textarea class="form-control" id="field-5" rows="4" asp-for="Description"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12  padding-bottom-30">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary gradient-blue">သိမ်းမည်</button>
                                <a asp-controller="@controller" asp-action="Index" class="btn btn-primary">ရှေ့သို့ပြန်သွားမည်</a>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>