@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using MADBHR.Enum
@*@model MADBHR_Models.Employee.VMRequestEmployee*@
@model MADBHR_Data.Models.TbTrainingHistory
@{
    var controller = "TrainingHistory";
    ViewData["Title"] = "All " + controller;
}
<section class="content">

    <div class="box">
        <div class="box-header">

            <h4 class="text-blue text-bold">တတ်ရောက်ခဲ့သည့်သင်တန်းများ၏အချက်အလက်များဖြည့်သွင်းရန်</h4>
        </div>
        <div class="box-body">
            <div class="row">
                <form action="@Configuration.GetSection("AppUrls").GetSection("TestUrl").Value/@controller/@ViewData["Action"]" method="post" enctype="multipart/form-data">

                    @if (ViewData["Action"].ToString() == ViewEnum.Action.Edit.ToDescription())
                    {
                        <input asp-for="EmployeeCode" hidden />

                    }
                    <input asp-for="TrainingHistoryPkid" hidden />
                    @*}*@
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label class="form-label" for="field-1">ကိုယ်ပိုင်အမှတ်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-1" asp-for="SerialNumber" onchange="ChangeNumber()">
                                    <span asp-validation-for="SerialNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="form-label" for="field-name">အမည်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-name" value="@ViewBag.Name">
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="form-label" for="field-2">ရာထူး</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-rank" value="@ViewBag.Rank">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label class="form-label" for="field-2">သင်တန်းအမည်/အပတ်စဉ်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-2" asp-for="TrainingTitle">
                                    <span asp-validation-for="TrainingTitle" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="form-label" for="field-3">သင်တန်းကျောင်း/ဌာန</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-3" asp-for="SchoolName">
                                    <span asp-validation-for="SchoolName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="form-label" for="field-4">တတ်ရောက်ခဲ့သည့်ကျောင်း၏တည်နေရာ</label>
                                <select class="form-control" asp-for="Location" asp-items="ViewBag.Location">
                                    <option selected="selected" value="">တည်နေရာရွေးပါ </option>
                                </select>
                                <span asp-validation-for="Location" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-6">ကာလ (မှ)</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="date" class="form-control" id="field-6" asp-for="StartDate">
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-7">ကာလ (အထိ)</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="date" class="form-control" id="field-7" asp-for="EndDate">
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-5">မှတ်ချက်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-5" asp-for="Remark">
                                    <span asp-validation-for="Remark" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label class="form-label" for="Name">သင်တန်းပြီးဆုံးကြောင်းလက်မှတ်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input asp-for="CertificatePic" hidden />
                                    <input asp-for="CertificateImageContent" hidden />
                                    <input name="CertificateImageFile" id="fileCertificateupload" type="file" style="display:none;" />
                                    <div>
                                        <img id="dvCertificatePreview" />
                                    </div>
                                </div>
                            </div>

                        </div>




                        <div class="col-xs-12  padding-bottom-30">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary gradient-blue">သိမ်းမည်</button>
                                <a asp-controller="@controller" asp-action="Index" class="btn btn-primary">ရှေ့သို့ပြန်သွားမည်</a>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>