
@{
    ViewData["Title"] = "Region List";
}
@model MADBHR_Data.Models.TbUserLogin
<div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1">ပင်မစာမျက်နှာ</h2>
        </div>
    </div>
</div>

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="form-group" align="center" style="vertical-align:middle !important;">
                            <span style="align-items:center;vertical-align:middle;padding:10px;font-size:large;font-weight:500;">
                                
                            </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="box box-solid">
                <div class="box-body">




                </div>

            </div>

        </div>
    </div>
 
   

</div>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
@section scripts{

    <script>
        $('document').ready(function () {


           



        })


    </script>
}
