@using MADBHR.Enum
@*@model MADBHR_Models.Employee.VMRequestEmployee*@
@model MADBHR_Data.Models.TbRelationship
@{
    var controller = "Relationship";
    ViewData["Title"] = "All " + controller;
}
<section class="content">

    <div class="box">
        <div class="box-header">

            <h4 class="text-blue text-bold">ဇနီး/ခင်ပွန်း၏ ကိုယ်ရေးအချက်အလက်ဖြည့်သွင်းရန်</h4>
        </div>
        <div class="box-body">
            <div class="row">
                <form action="/@controller/@ViewData["Action"]" method="post" enctype="multipart/form-data">
                    <input asp-for="RelationshipPkid" hidden />
                    @if (ViewData["Action"].ToString() == ViewEnum.Action.Edit.ToDescription())
                    {
                        <input asp-for="EmployeeCode" hidden />

                    }
                    <div class="col-xs-12">

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-1">ကိုယ်ပိုင်အမှတ်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-1" value="@ViewBag.SerialNumber">

                                    @*<span asp-validation-for="SerialNumber" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-2">ဇနီး/ခင်ပွန်း အမည်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-2" asp-for="RelationName">
                                    <span asp-validation-for="RelationName" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-8">​မွေးသက္ကရာဇ်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="date" class="form-control" id="field-8" asp-for="RelationDob">
                                    <span asp-validation-for="RelationDob" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-4">အလုပ်အကိုင်</label>
                                <input type="text" class="form-control" id="field-4" asp-for="RelationOccupation">
                                <span asp-validation-for="RelationOccupation" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-5">အဖ အမည်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-5" asp-for="RelationFatherName">
                                    <span asp-validation-for="RelationFatherName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-6">အမိ အမည်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-6" asp-for="RelationMotherName">
                                    <span asp-validation-for="RelationMotherName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-7">နေရပ်လိပ်စာ</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-7" asp-for="RelationAddress">
                                    <span asp-validation-for="RelationAddress" class="text-danger"></span>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12  padding-bottom-30">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary gradient-blue">သိမ်းမည်</button>
                                <button type="submit" name="RedirectToSonAndDaughter" value="true" class="btn btn-primary gradient-blue">သိမ်းပြီး။ သား/သမီးအချက်အလက်ထည့်ရန်</button>
                                <button type="button" data-href="/@controller/index" class="btn btn-click">Cancel</button>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>
