@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using MADBHR.Enum
@*@model MADBHR_Models.Employee.VMRequestEmployee*@
@model MADBHR_Data.Models.TbDepartment
@{
    var controller = "Departments";
    ViewData["Title"] = "All " + controller;
}
<section class="content">

    <div class="box">
        <div class="box-header">

            <h4 class="text-blue text-bold">ဌာနများဖြည့်သွင်းရန်</h4>
        </div>
        <div class="box-body">
            <div class="row">
                <form action="@Configuration.GetSection("AppUrls").GetSection("TestUrl").Value/@controller/@ViewData["Action"]" method="post" enctype="multipart/form-data">

                    @if (ViewData["Action"].ToString() == ViewEnum.Action.Edit.ToDescription())
                    {
                        <input asp-for="DepartmentCode" hidden />

                    }
                    <input asp-for="DepartmentPkid" hidden />
                    @*}*@
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-1">ဌာနအမည်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-1" asp-for="DepartmentName">
                                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12  padding-bottom-30">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary gradient-blue">သိမ်းမည်</button>
                                <a asp-controller="@controller" asp-action="Index" class="btn btn-primary">ရှေ့သို့ပြန်သွားမည်</a>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>